body
{
     height: 100vh;
     margin: 0;
}


.row
{
     width: 200px;
     height: 200px;
     background-color: #000;
     margin-top: 100vh;
}

nav
{
     display: flex;
     justify-content: space-around;
     align-items: center;
     height: 50px;
     background-color: aqua;

}

ul
{
     list-style-type: none;
     margin: 0;
     padding: 0;
}


li
{
     display: inline;
}

.navigation-bar-scroll {
     position: fixed;
     left: 0;
     right: 0;
     top: 0;
     z-index: 1000;
   
     &.is-hidden {
       opacity: 0;
       -webkit-transform: translate(0,-60px);
       transition: .5s ease;
     }
   
     &.is-visible {
       opacity: 1;
       -webkit-transform: translate(0,0);
       transition: .5s ease;
     }
   }




